# Ignorar o arquivo de credenciais (mantenha-o fora do versionamento)
rentabilidadeapp-f242aaa02497.json

# Ignorar arquivos de ambiente
.env

# Ignorar arquivos gerados pelo Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignorar ambientes virtuais
env/
venv/
.venv/

# Ignorar arquivos de log
*.log

# Ignorar cache do Streamlit
.streamlit/

# Outros arquivos temporários
*.tmp
